<!DOCTYPE html>
<html>
<head>
    <title>MovieWeb</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
<header>
    <h1><a style="color: white; text-decoration: none;" href="/">HBOmax</a></h1>
    <form action="/buscar" method="GET">
        <input class="search-input" type="text" name="q" placeholder="Películas, actores o directores..." />
        <button class="search-button" type="submit">Buscar</button>
    </form>
    <form action="/tags" method="GET" class="tag-form">
        <input class="tag-input" type="text" name="q" placeholder="Buscar por tags..." />
        <button class="tag-button" type="submit">Buscar</button>
    </form>
</header>

</body>
</html>
