<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" href="/resultado.css">
</head>
<body>
    <header>
        <h1>HBOmax</h1>
        <form action="/buscar" method="GET">
            <input type="text" name="q" placeholder="Buscar películas..." />
            <button type="submit">Buscar</button>
        </form>
    </header>
<h2>Resultado de la Búsqueda</h2>
<% if (movies.length === 0) { %>
    <p>No hay resultados.</p>
<% } else { %>
    <ul>
        <% movies.forEach((movie) => { %>
            <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
        <% }); %>
    </ul>
<% } %>
<p></p>
</body>
</html>