<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" href="/tags.css">
</head>
<body>
    <header>
        <h1>HBOmax</h1>
        <form action="/buscar" method="GET">
            <input class="search-input" type="text" name="q" placeholder="Películas, actores o directores..." />
            <button class="search-button" type="submit">Buscar</button>
        </form>
        <form action="/tags" method="GET" class="tag-form">
            <input class="tag-input" type="text" name="q" placeholder="Buscar por tags..." />
            <button class="tag-button" type="submit">Buscar</button>
        </form>
    </header>
<div class="container">
    <div class="col">
        <h2>Películas</h2>
        <% if (movies.length === 0) { %>
            <p>No hay resultados.</p>
        <% } else { %>
            <ul>
                <% movies.forEach((movie) => { %>
                    <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</div>
</body>
</html>